/* Solarized colors */
@define-color base03  #002B36;
@define-color base02  #073642;
@define-color base01  #586E75;
@define-color base00  #657B83;
@define-color base0   #839496;
@define-color base1   #93A1A1;
@define-color base2   #EEE8D5;
@define-color base3   #FDF6E3;
@define-color yellow  #B58900;
@define-color orange  #CB4B16;
@define-color red     #DC323F;
@define-color magenta #D33682;
@define-color violet  #6C71C4;
@define-color blue    #268BD2;
@define-color cyan    #2AA198;
@define-color green   #859900;

@define-color darkbg  @base2;
@define-color lightbg @base3;
@define-color textcolor @base01;

 * {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: PragmataPro Liga, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @darkbg;
    /*border-bottom: 3px solid @base1;*/
    color: @textcolor;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-left > widget:nth-last-child(4n+1) {
    color: @lightbg;
    background-color: @darkbg;
}

.modules-left > widget:nth-last-child(4n+2) {
    background-color: @lightbg;
}

.modules-left > widget:nth-last-child(4n+3) {
    color: @darkbg;
    background-color: @lightbg;
}

.modules-left > widget:nth-last-child(4n) {
    background-color: @darkbg;
}

.modules-right > widget:nth-child(4n+1) {
    color: @lightbg;
    background-color: @darkbg;
}

.modules-right > widget:nth-child(4n+2) {
    background-color: @lightbg;
}

.modules-right > widget:nth-child(4n+3) {
    color: @darkbg;
    background-color: @lightbg;
}

.modules-right > widget:nth-child(4n) {
    background-color: @darkbg;
}

#workspaces {
    margin: 0 4px;
}

#workspaces button {
    color: @textcolor;
    padding: 0 5px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px @green;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 3pt;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: alpha(@base03, 0.2);
    box-shadow: inset 0 -3px @yellow;
}

#workspaces button.focused {
    color: @darkbg;
    background-color: @textcolor;
    box-shadow: inset 0 -3px @orange;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    border-bottom: 3px solid @magenta;
}

#clock,
#disk,
#network,
#pulseaudio,
#tray,
#mode,
#language,
#idle_inhibitor {
    padding: 0 1ex;
}

#window {
    background: @lightbg;
}

#custom-arrow-right-center,
#custom-arrow-left-center {
    background: @darkbg;
    color: @lightbg;
    font-size: 17pt;
}

#clock {
}

#disk {
}

#pulseaudio {
}

#pulseaudio.muted {
    color: @base1;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @orange;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: @orange;
}

#language {
}

#custom-arrow-right {
    font-size: 17pt;
}

#custom-arrow-left {
    font-size: 17pt;
}
