/* Solarized colors */
@define-color base03  #002B36;
@define-color base02  #073642;
@define-color base01  #586E75;
@define-color base00  #657B83;
@define-color base0   #839496;
@define-color base1   #93A1A1;
@define-color base2   #EEE8D5;
@define-color base3   #FDF6E3;
@define-color yellow  #B58900;
@define-color orange  #CB4B16;
@define-color red     #DC323F;
@define-color magenta #D33682;
@define-color violet  #6C71C4;
@define-color blue    #268BD2;
@define-color cyan    #2AA198;
@define-color green   #859900;

 * {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: PragmataPro Liga, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @base3;
    /*border-bottom: 3px solid @base1;*/
    color: @base0;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: @base2;
    color: @base0;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#disk,
#network,
#pulseaudio,
#tray,
#mode,
#language,
#idle_inhibitor {
    padding: 0 1ex;
    color: @base0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base3;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: @base3;
}

#pulseaudio {
    background-color: @base2;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray {
    background-color: @base2;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @orange;
}

#idle_inhibitor {
    background-color: @base3;
    color: @base01;
}

#idle_inhibitor.activated {
    background-color: @base3;
    color: @orange;
}

#language {
    background: @base2;
}

#custom-arrowr {
    background: @base3;
    color: @base2;
    font-size: 17pt;
}

#custom-arrow1 {
    background: @base3;
    color: @base2;
    font-size: 17pt;
}

#custom-arrow2 {
    background: @base2;
    color: @base3;
    font-size: 17pt;
}
